
::-webkit-scrollbar {
    width: 6px;
}
 
::-webkit-scrollbar-track {
    display: none;
    box-shadow: inset 0 0 6px rgba(0,0,0,1);
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    background-color: rgba(92, 90, 90, 0.5);
    width: 1px;
}

body {
    margin: 0px;
}

input {
    outline:none;
}

html {
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, "Lucida Grande", Arial, "Ubuntu", "Cantarell", "Fira Sans", sans-serif;
}



.chat-feed {
    background-image: url(https://64.media.tumblr.com/44451ddf448de2235f8370c138b00121/tumblr_ouztgbH0CG1vj8v9mo3_1280.png);
    height: 100vh;
    display: flex;
    flex-direction: column;
}


/* Message */

.message-section-wrapper {
    overflow-y: scroll !important;
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;
}

.message-section {
    display: flex;
    flex-direction: column;
}

.message-block {
    margin-bottom: 5px;
}

.message {
    border-radius: 6px;
    padding:1px 10px;
    font-size: 18px;
    max-width:50%;
    min-width: 25%;
    color: black;
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
}

.message-content {
    flex-grow: 1;
}

.message-image {
    border-radius: 6px;
    max-height: 200px;
    max-width: 200px;
    min-height: 100px;
    min-width: 100px;
    object-fit:cover;
    height: 30vw;
    transition: transform ease-in-out 0.3s;
}

.message-image:hover {
    transform : scale(2) translate(-50px, -50px);
}

.message-details {
    font-size: 10px;
    color: rgb(175, 168, 168);
    align-self: flex-end;
    margin-top: -2px;
}

.message-sender-details {
    font-size: 10px;
    font-weight:bold;
    color: rgb(204, 44, 44);
    align-self: flex-start;
    min-height: 4px;
}


/* Message Form */

.message-form-container {
    background-color: lightgray;
    min-height: 50px;
    display: flex;
    align-items: center;
}

.message-form {
    padding: 0 10px 0 10px;
    width: 100%;
    display:flex;
    align-items: center;
}

.message-form-input {
    border-radius: 40px;
    flex-grow: 1;
    align-self: stretch;
}

.message-form-send {
    background-color: lightgreen;
    border-radius: 50%;
    margin: 0 5px;
}

.send-icon {
    font-size: 200%;
    position:relative
}

.upload-icon {
    font-size: 200%;
    position:relative;

}


/*Welcome page*/

.welcome-page-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.login-form-container {
    display:flex;
    align-items: center;
    justify-content: center;

}

.login-form {
    display: flex;
    flex-direction: column;
    width: 35vh;
    
}

.username-input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
}

.password-input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}


.login-form-input {
    /* align-self: center; */
}
